[project]
	description = website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ki (Betrezen)
[access "refs/for/refs/*"]
	read = group user/Ki (Betrezen)
	push = group user/Ki (Betrezen)
	label-Code-Review = -2..+2 group user/Ki (Betrezen)
	label-Verified = -1..+1 group user/Ki (Betrezen)
	rebase = group user/Ki (Betrezen)
	removeReviewer = group user/Ki (Betrezen)
	submit = group user/Ki (Betrezen)
[access "refs/heads/*"]
	read = group user/Ki (Betrezen)
	create = group user/Ki (Betrezen)
	push = +force group user/Ki (Betrezen)
	pushMerge = group user/Ki (Betrezen)
[access "refs/tags/*"]
	push = +force group user/Ki (Betrezen)
	pushTag = group user/Ki (Betrezen)
	pushSignedTag = group user/Ki (Betrezen)
